# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env
.env.*

# Node
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp